@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


.button-card {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.col-left {
  margin-right: 15px;
}

.col-right {
  margin-left: 15px;
}

.detail-body {
  margin: 15px;
  margin-top: 30px;
}

.detail-card {
  margin: 15px;
}

.footer {
  height: 5rem;
  background-color: #788AA3;
}
.radar {
  margin-bottom: 40px;
  margin-top: 20px;
}

.title {
  padding: 10px;
  text-align: center;
  font-family: 'Crimson Text', serif;
}

.trait {
  text-align: center;
}
.trait-body {
  margin: 15px;
}